@import "./script/style/header.css";
@import "./script/style/footer.css";
@import "./script/style/nocturno.css";

* {
  margin: 0;
  padding: 0;
}

#container{
  background-color: #130201;
}

#container h1 {
  text-align: center;
}

#container p {
  width: 80%;
  margin: 0 auto;
}
