* {
  margin: 0;
  padding: 0;
}
#form_nuevo_usuario input {
  display: block;
  margin-top: 16px;
  font-size: 15px;
  width: 100%;
}
#a_registroDeUsuario{
    float: right;
    margin-top: 15px;
    margin-right: 40px;
    text-decoration: none;
    color:rgb(44, 44, 226);
    border: 1px solid rgb(243, 149, 8);
    padding: 3px;
}
#a_registroDeUsuario:hover{
    background-color: hsl(271, 83%, 84%);
    color: white;
}
form_nuevo_usuario{
    background-color:rgb(139, 245, 165);
    width: 250px;
    margin: 0 auto;
}
form_nuevo_usuario button{
    margin-top: 30px;
    margin-left: 35%;
    color: rgb(51, 95, 177);
    border: 1px solid rgb(221, 55, 63);
}
form_nuevo_usuario button:hover{
    background-color: hsl(128, 100%, 47%);
    color: white;
}
